{% extends 'employeeNavbar.html' %}
{% block main %}

<div class="container-fluid my-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h5 class="p-2 text-danger" style="border-bottom: 2px solid green;">Company Profile</h5>
                <div class="card-body b-b">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="col-form-label">Company Name</label>
                                <input type="text" class="form-control" name="CompanyName"
                                       value="{{company.user.first_name}}" required>
                            </div>

                            <div class="form-group col-md-12">
                                <label class="col-form-label">Contact Person</label>
                                <input type="text" name="ContactPerson" class="form-control"
                                       value="{{company.ContactPerson}}" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label">Company URL</label>
                            <input type="text" name="CompanyUrl" class="form-control" value="{{company.CompanyUrl}}"
                                   required>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label">Company Address</label>
                            <input type="text" name="CompanyAddress" class="form-control"
                                   value="{{company.CompanyAddress}}" required>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label">Mobile Number</label>
                            <input type="text" name="MobileNumber" class="form-control" value="{{company.MobileNumber}}"
                                   required>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Email address</label>
                            <input type="email" name="email" class="form-control" value="{{company.user.username}}"
                                   readonly>
                        </div>

                        {% if not company.CompanyLogo.url %}
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Company Logo</label>
                                <input type="file" name="CompanyLogo" class="form-control">
                            </div>
                        </div>

                        {% else %}
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Company Logo</label>
                                <input type="file" name="CompanyLogo" class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <img src="{{company.CompanyLogo.url}}" name="CompanyLogo" height="100" width="100">
                            </div>
                        </div>
                        {% endif %}





                        <div class="form-group">
                            <label class="col-form-label">Company Registration Date</label>
                            <input type="text" class="form-control" value="{{company.CompanyRegdate}}" readonly>
                        </div>

                        <button type="submit" name="submit" class="btn btn-primary">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% if error ==  "no" %}
<script>
    alert('Profile has been Updated');

</script>
{% endif %}
{% if error == "yes" %}
<script>
    alert('Something Went Wrong. Please try again');

</script>
{% endif %}

{% endblock %}